[core]
  editor = nvim
  fileMode = false

[user]
  name = Jake Rainis
  email = jakerainis@gmail.com

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
[remote "origin"]
	prune = true
[rerere]
	enabled = true
	autoupdate = true
